/****メニュー全体****/
#menu{
	/*配置*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 100;
}

/****メニュー開閉ボタン****/
#menu div{
	/*デザイン*/
	width: 40px;
	height: 40px;
	background-image: url("/static/images/icon/MenuBotton.jpeg");
	background-size: cover;
	/*配置*/
	overflow: hidden;
	position: absolute;
	right: 15px;
}

#menu .menuopen{
	/*デザイン*/
	color: rgba(255,255,255,1);
	font-size: 20px;
	/*配置*/
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: auto;
}

#menu .menuclose{
	/*デザイン*/
	color: rgba(255,255,255,1);
	font-size: 20px;
	/*配置*/
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: auto;
}

/****メニュー一覧****/
#menu ul{
	/*デザイン*/
	background: rgba(200,200,200,1);
	width: 80%;
	/*配置*/
	position: absolute;
	top: 30px;/*#menu divの高さ*/
	right: 0;
	display: none;
}

#menu li{
	/*デザイン*/
	padding: 10px;
	color: rgba(0,0,0,1);
	border-bottom: 1px rgba(255,255,255,1) solid;
	/*配置*/
	pointer-events: auto;
}

/****メニューオープン時****/
#menu:target .menuopen{
	/*配置*/
	display: none;
}

#menu:target .menuclose{
	/*配置*/
	display: block;
}

#menu:target ul{
	/*配置*/
	display: block;
}

/*** メインエフェクト ***/

@media screen and (max-width:600px) {
	
	* {
		float: none;
		position: relative;
	}
	
	table {
		top: 40px; left:20px;
	}	
	td, th {
		padding: 10px;
		width: 110px;
		height: 15px;
	}
 
}

@media screen and (min-width:601px) {
	table {
		position: absolute; top: 100px; left:200px;
	}
	
	table , td, th {
		z-index: 100;
		font-family:Arial, 'arial black', sans-serif;
	
	}
	td, th {
		padding: 10px;
		width: 200px;
		height: 15px;
	}
}

th {
	background: white url("/static/images/backgrounds/02-whitepaper.png") repeat;
	background-size: 200px;
}

body {
	background: white url("/static/images/backgrounds/003-granulated-loom.png") repeat;
	background-size: 200px;
}


